.contactDiv {
  padding: 20px;
}

.blur{
  filter: blur(3px);
  pointer-events: none;
  transition: filter 0.3s ease-in-out;
}
.logoDiv {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.logodiv {
  display: flex;
}

.logoDiv img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logoDiv p {
  font-size: 1.2em;
}

.contactButton {
  display: flex;
  align-items: center;
}

.contactButton button {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.contactButton svg {
  fill: #333;
}

.publicImgDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.logoDivPara h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.logoDivPara h1 span {
  color: #004d99;
  font-weight: bold;
}

.logoDivPara p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}

.logoDivPara button {
  background-color: #004d99;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.publicImg {
  max-width: 500px;
  height: auto;
}

.chatButton {
  margin-top: 20px;
  background-color: #FFCC33;
  color: #4d4b4b;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transform: rotate(90deg);
  font-weight: 600;
}