.contactDiv {
  padding: 20px;
}

.blur {
  filter: blur(3px);
  pointer-events: none;
  transition: filter 0.3s ease-in-out;
}

.logoDiv {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.logoDivPara h1 {
  font-size: 2em;
}

.logodiv {
  display: flex;
}

.logoDiv img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logoDiv p {
  font-size: 1.2em;
}

.contactButton {
  display: flex;
  align-items: center;
}

.contactButton button {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.logoDivPara .hireButton {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  background-color: #334499;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.contactButton svg {
  fill: #333;
}
/* .publicImg{
  width: 100%;
  height: 100%;
  margin-top: -10%;
} */
.publicImgDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.logoDivPara h1 {
  font-size: 4em;
  color: #333;
  margin-bottom: 20px;
  width: 66%;
}

.logoDivPara h1 span {
  color: #004d99;
  font-weight: bold;
}

.logoDivPara p {
  font-size: 1.4em;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
  width: 45%;
}

.logoDivPara button {
  background-color: #004d99;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chatButton {
  margin-top: 20px;
  background-color: #FFCC33;
  color: #4d4b4b;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transform: rotate(90deg);
  font-weight: 600;
  font-size: 1em;
}



/* Media Queries for Phone Sizes */
@media (max-width: 375px) {
  .logoDivPara h1 {
    font-size: 3em;
    width: 95%;
  }

  .logoDivPara p {
    font-size: 1em;
    width: 100%;
  }
  .publicImg{
    width: 100%;
    height: 100%;
    margin-top: -10%;
  }
  
  
  .publicimgDiv{
    display: flex;
    flex-direction: column-reverse;
  }
  .publicimgDiv img{
    width: 100%;
    height: 100%;
  }

  .logoDivPara .hireButton {
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
    background-color: #334499;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
  }

  .logoDivPara button {
    padding: 8px 16px;
    font-size: 0.9em;
  }


  .logoDiv {
    flex-direction: column;
    align-items: start;
  }

  .contactButton button {
    padding: 8px 12px;
    font-size: 0.9em;
  }

  .contactButton {
    flex-direction: column;
    align-items: center;
  }

  .publicImg {
    height: 600px;
    /* Adjust image height for mobile */
  }

  .chatButton {
    font-size: 0.9em;
    transform: rotate(90deg);
    margin-left: 75%;
    width: 40%;
    margin-top: -30%;
  }

  .contactDiv {
    padding: 10px;
    /* Adjust padding for mobile */
  }
}