.linkDiv {
    display: flex;
    flex-direction: column; /* Align content in a column */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    background-color: black;
    height: 300px;
    padding-top: 4%; 
    gap: 20px; /* Maintain gap between elements */
}

.imageDiv {
    display: flex;
    justify-content: center; /* Center images horizontally */
    gap: 20px; /* Maintain gap between images */
}
.imageDiv img {
    width: 50px;
    height: 50px;
    object-fit: cover; /* This will make sure all images cover the entire space */
    border-radius: 5px; /* Optional for rounded corners */
}
.linkDiv-para {
    color: white;
    text-align: center; /* Center text horizontally */
}

/* Responsive design for phone screens */
@media (max-width: 375px) {
    .linkDiv {
        height: auto; /* Adjust height to fit content */
        padding: 10px 0; /* Add padding for spacing */
        margin-top: 10%; /* Adjust margin for better alignment */
    }

    .imageDiv {
        flex-direction: row; /* Maintain row layout for images */
        gap: 10px; /* Reduce gap between images */
    }

    .linkDiv a img {
        width: 50px; /* Smaller image size for phones */
    }

    .linkDiv-para {
        font-size: 14px; /* Smaller font size for phones */
    }
}