/* General Styles */
.sliderContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderdiv h5 {
  color: #ffffff;
  font-size: 1.2em;
  text-align: center;
  margin-right: 15%;
  margin-top: 0.3%;
}

.prevButton,
.nextButton {
  background-color: #ffffff;
  color: #334499;
  font-size: 24px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cardDiv {
  display: flex;
  align-items: center;
  gap: 10%;
}

.cardDiv img {
  height: 290px;
}

h3 {
  color: black;
}

.hDiv {
  background-color: #334499;
  height: 700px;
}

.headerDiv {
  color: #ffffff;
  text-align: center;
  padding: 2%;
}

.headerDiv p {
  color: #ffffff;
}

.company {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  color: white;
  width: 350px;
}

.rayanDiv img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -80%;
}

.company div h3 {
  margin: 0;
  color: white;
  margin-top: 20%;
  margin-left: -50%;
}

.company div p {
  margin: 2px 0;
  color: white;
  margin-left: -40%;
}

.company div:last-child img {
  height: 30px;
  margin-left: auto;
  margin-bottom: -35%;
}

.Para {
  background-color: rgba(238, 242, 238, 0.29);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 15%;
  height: 200px;
}
.Para p {
  color: white;
}

.sliderdiv {
  border-radius: 10px;
  padding: 20px;
}

.dotImg {
  width: 20%;
  max-height: 100px;
  margin-bottom: 50%;
  margin-left: -18%;
}

.dot-Img {
  width: 20%;
  max-height: 100px;
  margin-top: 55%;
  margin-right: -18%;
}

.commaImg {
  width: 20%;
  max-height: 50px;
  margin-top: -20%;
  margin-right: 80%;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .sliderdiv h5 {
    font-size: 1em;
    margin-right: 5%;
  }

  .prevButton,
  .nextButton {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .cardDiv {
    flex-direction: column-reverse;
    gap: 5%;
  }

  .cardDiv img {
    height: 200px;
  }

  .company {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .rayanDiv img {
    margin-left: 0;
  }

  .company div h3 {
    margin-top: 10%;
    margin-left: 0;
  }

  .company div p {
    margin-left: 0;
  }

  .company div:last-child img {
    height: 25px;
    margin-left: auto;
  }

  .dotImg,
  .dot-Img,
  .commaImg {
    width: 30%;
    margin: 0;
  }
  
  .commaImg {
    width: 15%;
    margin-left: -90%;
    padding-top: -10%;
  }
  
  .dotImg {
    margin-left: -80%;
    margin-top: -40%;
  }
  
  .dot-Img {
    margin-right: -80%;
    margin-bottom: -40%;
  }
  
  .Para {
    width: 80%; /* Adjusted to 50% width */
    height: 250px;
    padding: 15px;
    margin: 0 auto; /* Ensures it is centered */
  }
  
  .paraImg {
    width: 100%;
    height: 10px;
  }
}  